.grid {
    display: flex;
    width: 606px;
    height: 606px;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid green 1px;
    text-align: center;
}

.mole {
    background-image: url('Alia\ 22.png');
}

body {
    background-image: url("Alia\ 12.png");
}

h2 {
    text-align: center;
    color: red;
}
